In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

from env import get_connection
import wrangle_zillow
import prepare

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = wrangle_zillow.wrangle_zillow()

In [3]:
df.head()

    bed  bath    sqft  tax_value  yr_blt  yearly_tax  fips
4     4     2  3633.0     296425    2005     6941.39  6037
6     3     4  1620.0     847770    2011    10244.94  6037
7     3     2  2077.0     646760    1926     7924.68  6037
15    0     0   203.0      14166    1960      163.79  6037
18    3     1  1244.0     169471    1950     2532.88  6037

In [4]:
df.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2137838 entries, 4 to 2152862
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   bed         2137838 non-null  int64
 1   bath        2137838 non-null  int64
 2   sqft        2137838 non-null  float64
 3   tax_value   2137838 non-null  int64
 4   yr_blt      2137838 non-null  int64
 5   yearly_tax  2137838 non-null  float64
 6   fips        2137838 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 130.5 MB

In [5]:
train, validate, test = prepare.train_val_test(df)
train.shape, validate.shape, test.shape

((1496486, 7), (384811, 7), (256541, 7))

In [ ]:
train

In [6]:
# make, fit, use:
columns_to_scale = ['sqft', 'yearly_tax']
# make the object, put it into the variable scaler
scaler = MinMaxScaler()
# fit the object to my data:
train_scaled[columns_to_scale] = scaler.fit_transform(train[columns_to_scale])

NameError: name 'train_scaled' is not defined

In [ ]:
rs_scaler = RobustScaler()

rs_scaler.fit(train[['sqft']])

rs_sqft = rs_scaler.transform(train[['sqft']])
rs_sqft[:5]

In [ ]:
plt.subplot(121)
plt.hist(train.sqft)
plt.title('OG data')


plt.subplot(122)
plt.hist(rs_sqft)
plt.title('Scaled data')

In [ ]:
rs_inverse_sqft = rs_scaler.inverse_transform(train[['sqft']])
rs_sqft[:5]

In [ ]:
plt.subplot(131)
plt.hist(train.sqft)
plt.title('OG data')


plt.subplot(133)
plt.hist(rs_inverse_sqft)
plt.title('Inverse Scaled data')

In [ ]:
qt_scaler = QuantileTransformer(output_distribution = 'normal')

In [ ]:
qt_scaler.fit(train[['sqft']])

In [ ]:
qt_sqft = qt_scaler.transform(train[['sqft']])
qt_sqft

In [ ]:
plt.subplot(121)
plt.hist(train.sqft)
plt.title('OG data')


plt.subplot(122)
plt.hist(qt_sqft)
plt.title('Scaled data')

In [ ]:
mm_scaler = MinMaxScaler()

In [ ]:
mm_scaler.fit(train[['sqft']])

In [ ]:
mm_sqft = mm_scaler.transform(train[['sqft']])
mm_sqft

In [ ]:
train.describe().T

In [ ]:
plt.subplot(121)
plt.hist(train.sqft)
plt.title('OG data')


plt.subplot(122)
plt.hist(mm_sqft)
plt.title('Scaled data')

In [ ]:
ss_scaler = StandardScaler()

In [ ]:
ss_scaler.fit(train[['sqft']])

In [ ]:
ss_sqft = ss_scaler.transform(train[['sqft']])
ss_sqft

In [ ]:
plt.subplot(121)
plt.hist(train.sqft)
plt.title('OG data')


plt.subplot(122)
plt.hist(ss_sqft)
plt.title('Scaled data')

In [ ]:
#Calling the function and assigning the appropriate variables
scaler, train_scaled, validate_scaled, test_scaled = prepare.scale_splits_rb(train, validate, test, return_scaler = True)

# make a list of my values
values = ['bedrooms', 'bathrooms','tax_amount', 'sq_feet']
# make the object
scaler = MinMaxScaler()
# fit the object to my data:
train_scaled[values] = scaler.fit_transform(train[values])